<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perian Development</title>
  <meta name="description" content="Perian Development Website" />
  <link rel="stylesheet" href="/Website1/css/main.css" />
  <link rel="icon" href="/Website1/assets/icons/icon_shape.svg" />

  <script src="/Website1/js/include.js" defer></script>
  <script src="/Website1/js/main.js" defer></script>
  
</head>
<body>
<!-- ===================== HEADER ===================== -->
  <header class="site-header"></header>

<!-- ===================== HERO ===================== -->
  <section class="hero hero--project">
    <div class="hero__bg">
      <img src="/Website1/assets/images/ProjectsHero.png" alt="Projects Hero Background">
    </div>
    <div class="hero__dark-overlay"></div>
    <div class="hero__overlay"></div>
    <div class="hero__grid"></div>
    <div class="hero__vignette"></div>
  </section>

  <!-- ===================== PROJECT DETAILS ===================== -->

  <section class="project-details container">
    <p>Template</p>
  </section>

  
  <!-- ===================== FOOTER ===================== -->
  <footer class="site-footer"></footer>

</body>
</html>
